# What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

1) web development (server-side)

2) software development

3) mathematics

4) nsystem scripting.

5) big data.

6) Artifical intelligence.

7) Machine Learning.

8) Data visulaziation.et

9) Computer Vision / deep learning

# Python Variables:
A Python variable is  a continar which is used to reserved memory location to store values. In other words, a variable in a python program gives assine data to the computer for processing.

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [4]:
# if we changing a varible
website = "aizaz"

# assigning a new variable to website
website = "khan"

print(website)

khan

In [2]:
x, y, z,a = 1, "Banana", 2,1
print(x)
print(y)
print(z)
# condition
if x==a:
    print("yes its equal")
else:
    print("not equal")

1
Banana
2
yes its equal

In [5]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [6]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [7]:
x= "aizaz"
print("my name is ",x)

my name is  aizaz

In [8]:
# + is used to mathematicaly operator
x = 5
y = 10
print(x + y)

15

In [13]:
# not conconicate number and string
x = "aizaz"
y = 10
print(x + y)

TypeError: can only concatenate str (not "int") to str

In [14]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [15]:
#Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python Data Types:
Text Type:	str
    
Numeric Types:	int, float, complex
    
Sequence Types:	list, tuple, range
    
Mapping Type:	dict
    
Set Types:	set, frozenset
    
Boolean Type:	bool
    
Binary Types:	bytes, bytearray, memoryview

In [18]:
x = "Hello World"
print(type(x))
x = 20
print(type(x))
x = 20.5
print(type(x))
x = 1j
print(type(x))
x = ["apple", "banana", "cherry"]
print(type(x))
x = ("apple", "banana", "cherry")
print(type(x))
x = range(6)
print(type(x))
x = {"name" : "John", "age" : 36}
print(type(x))
x = {"apple", "banana", "cherry"}
print(type(x))
x = frozenset({"apple", "banana", "cherry"})
print(type(x))
x = True
print(type(x))
x = b"Hello"
print(type(x))
x = bytearray(5)
print(type(x))
x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

In [19]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [23]:
print(x)
print(y)

35000.0
120000.0

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [24]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [26]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [28]:
print(x)
print(y)
print(z)

1
2
3

# Strings are Arrays

In [31]:
a = "Hello, World!"
print(a[1])

e

In [41]:
print(a[:3]) # first 3  value
print(a[3:]) # after 3 value
print(a[1:4]) # 1 to 3 
print(a[-1])  # last 1
print(a[-3])

Hel
lo, World!
ell
!
l

In [43]:
#Looping Through a String
for x in "aizazkhan":
    print(x)

a
i
z
a
z
k
h
a
n

In [44]:
name = ["aizaz","khan","afridi"]

for x in name:
    print(x)

aizaz
khan
afridi

In [45]:
#String Length
a = "Hello, World!"
print(len(a))

13

In [46]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [47]:
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [48]:
txt = "The best things in life are free!"
if "expensive" not in txt:
     print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.

In [52]:
#Upper Case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [53]:
#lowe case
a = "Hello, World!"
print(a.lower())

hello, world!

In [54]:
#The strip() method removes any whitespace from the beginning or the end:

a = "   Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [57]:
#The replace() method replaces a string with another string:
a = "Ali afridi!"
print(a.replace("ali", "Aizaz"))

Ali afridi!

In [68]:
#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello World! ok aizaz khan "
print(a.split(" "))# split after space " "

['Hello', 'World!', 'ok', 'aizaz', 'khan', '']

In [69]:
a = "Hello,World!,ok,aizaz,khan "
print(a.split(","))# split after comma " "

['Hello', 'World!', 'ok', 'aizaz', 'khan ']

In [1]:
age=input("Pleas input your Age")
txt = ('Your Age is ='+age)
print(txt)

Pleas input your Age20
Your Age is =20

In [2]:
 name=input("Pleas input your name")
txt = ('Your name is  ='+name)
print(txt)

Pleas input your nameaizazkhan
Your name is  =aizazkhan

In [4]:
name=input("Pleas input your name")
print("your name is ",name)

Pleas input your nameaizaz
your name is  aizaz

In [6]:
#Use the format() method to insert numbers into strings:
age = input("Enter your age")
txt = "My name is John, and I am {}"
print(txt.format(age))

Enter your age3
My name is John, and I am 3

In [3]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

49.95

In [1]:
name = input("Enter your name")
age= input("Enter yor Age")
txt = "My name is {} i am {} Year old"
print(txt.format(name,age))

Enter your nameaizaz
Enter yor Age12
My name is aizaz i am 12 Year old

In [2]:
print(Age)

NameError: name 'Age' is not defined

In [18]:
#named indexes:
txt1 = "My name is {fname}  I'm {age}".format(fname = input("input your name"), age = input("input your age"))

print(txt1)

input your nameaizazkhan
input your age22
My name is aizazkhan  I'm 22

# String Methods

In [10]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [15]:
txt = "Hello, welcome to my world."

x = txt.find("to")

print(x)

15

# Python For Loops:
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [24]:
#With the break statement we can stop the loop before it has looped through all the items:
for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [32]:
number =[1,2,3,4,5,6,7]
for i in number:
    if i==5:
        break
    print(i)

1
2
3
4

In [38]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [83]:
liste=[1,2,3,4,5]
add=sum(liste)
add

15

# Arithmetic Operators

In [39]:
x= 4
y= 5
print(x + y)

9

In [40]:
# Examples of Arithmetic Operator 
a = 9
b = 4

# Addition of numbers 
add = a + b 

# Subtraction of numbers 
sub = a - b 

# Multiplication of number 
mul = a * b 

# Division(float) of number 
div1 = a / b 

# Division(floor) of number 
div2 = a // b 

# Modulo of both number 
mod = a % b 

# Power 
p = a ** b 

# print results 
print(add) 
print(sub) 
print(mul) 
print(div1) 
print(div2) 
print(mod) 
print(p)

13
5
36
2.25
2
1
6561

# Comparison operators


# Comparison operators
>	Greater than - True if left operand is greater than the right	x > y

<	Less than - True if left operand is less than the right	x < y

==  Equal to - True if both operands are equal	x == y

!=	Not equal to - True if operands are not equal	x != y

>= Greater than or equal to - True if left operand is greater than or equal to the right	x >= y

<=	Less than or equal to - True if left operand is less than or equal to the right	x <= y

In [42]:
# x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

# Python Logical Operator

In [43]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [44]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

# Python Assignment Operators

In [55]:
x=10
x +=5
x

15

# Membership operators in Python

In [78]:
text="my name is aiza khan"
if "name " in text:
    print("true")

true

In [79]:
"is" not in text

False

In [80]:
"afrdi" not in text

True

# Python If ... Else

In [90]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [91]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [5]:
a,b=33,24
print(a)

33

In [6]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [99]:
a=3
b=5
if a>b: print("a is not grater")
elif b>a: print("yes is geater")

yes is geater

In [100]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [107]:
# in and one fall all condition is fall
a = 50
b = 33
c = 500
if a > b and c < a:
    print("Both conditions are True")
    
else: print("its fall condition")

its fall condition

In [108]:
a = 50
b = 33
c = 500
if a > b or c < a:
    print("Both conditions are True")
    
else: print("its fall condition")

Both conditions are True